        _resolve_locator(page, "{{ step.selector }}", {{ if step.frame_path }}[{{ for sel in step.frame_path }}"{{ sel }}"{{ if !for.last }}, {{ end }}{{ end }}]{{ else }}None{{ end }}).fill(_require_env("{{ step.env_var }}"))